* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e5e7e9;
}

header {
    background-image: url('../../res/img/segundaImagen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header nav {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #006c84;
    padding: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9f9;
    width: 70%;
}